@font-face {
    font-family: myFirstFont;
    src: url('./AbrilFatface-Regular.woff.ttf');
    /* IE9 */
}

body {
    width: 100%;
    padding: 0; 
    margin: 0;box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

body::-webkit-scrollbar {
    display: none;
    height: 10px;
}

.bottom {
    padding:0 30px;
    color: white;
    display: flex;
    color: #ff5757;
    justify-content: space-between; 
    padding-bottom: 0 !important;box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    font-size: 22px;
    -webkit-box-sizing:border-box; /* Safari */
}

.companylogo {
    width: 500px;
    height: 500px;
    border-radius: 5px;
}

.img-logo-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 30px;
}

#main,.b-right{
    box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}


.img-logo-4 img {
    width: 100px;
    height: 100px;
}

.t-left {
    display: flex;
    justify-content: flex-start;
}

.t-right {
    overflow-y: scroll;
}

.t-right::-webkit-scrollbar {
    display: none;
}

.t-right .title {
    font-size: 50px;
    font-family: myFirstFont;
    text-align: center;
}

.top {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.bl-title {
    padding: 10px;
    background: #3b5998;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.bl-content {
    font-weight: bold;
}

.v-center {
    position: absolute;
}

.v-center iframe {
    z-index: 888;
    overflow-x: hidden;
    overflow-y: hidden;
    border: none;
    margin-top: 34px;
    position: absolute;
    /* border-radius: 30px; */
    top: 0;
}

.v-center iframe::-webkit-scrollbar {
    width: 0px;
    display: none;
    height: 0px;
}

.v-center::-webkit-scrollbar {
    width: 0px;
    display: none;
    height: 0px;
}

.biankuang::-webkit-scrollbar {
    width: 0px;
    display: none;
    height: 0px;
}

.biankuang {
    background: url(/img/imgbin_iphone-x-iphone-7-ios-12-messages-png.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

a {
    text-decoration: none;
}

.b-left a {
    text-decoration: none !important;
     color: white !important;
}

.hide{
    display: none !important;
}