body{
    padding: 0;
    margin: 0;
}
#bgimg{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: fixed;
    z-index: 2;
    justify-content: space-between;
}


.left{
    width: 43.5%;
    padding-top: 22%;
}
.right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.right>div{
    width: 100%;
    display: flex;
}
.right>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main img{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.right img{
    
    border-radius: 15px;
}

.r-b-r{
    width: 50%;
    display: flex;
    flex-wrap: wrap; 
}